@model WritingPlatform.Models.Users.UserModel

<form action="/user/UpdateUser" method="get">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="login">Login</label>
        <input value="@Model.Login" type="text" name="Login" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input value="@Model.Password" type="text" name="Password" />
    </div>
    <div class="form-group">
        <label for="e-mail">Email</label>
        <input value="@Model.Email" type="text" name="Email" />
    </div>
    <input value="Save" type="submit" class="btn btn-default" />
</form>
<br />
<form action="/user/DeleteAccount" method="get">
    <input type="hidden" name="Id" value="@Model.Id" />
    <br/>
    <input value="Delete account" type="submit" class="btn btn-default" />
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
