@using WritingPlatform.Models.Compositions

@model List<CompositionWithCommentsModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Publication time</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].Name</td>
                <td>@Model[i].Genre</td>
                <td>@Model[i].PublicationTime</td>
                <td>@ViewBag.Ratings[i]</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back", "Start", null, new { @class = "btn btnprimary btn-large" })