@model WritingPlatform.Models.UserWithCompositionsModel

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
                <th scope="col">Publication time</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @for(int i=0;i<Model.Compositions.Count();i++)
            {
            <tr>
                <th scope="row">i</th>
                <td>@Model.Compositions.ElementAt(i).Name</td>
                <td>@Model.Compositions.ElementAt(i).Genre</td>
                <td>@Model.Compositions.ElementAt(i).Rating</td>
                <td>@Model.Compositions.ElementAt(i).PublicationTime</td>
                <td>@Html.ActionLink("Details", "Details",@Model.Compositions.ElementAt(i), 
                   new { @class = "btn btnprimary btn-large" })</td>
            </tr>
            }
        </tbody>
    </table>
