@model WritingPlatform.Models.Compositions.CompositionWithCommentsModel

<form action="/user/allworks" method="get">
    <input type="hidden" value="@ViewBag.CurrentUser.Id" name="id" />
    <label class="form-control">Author</label>
    <text class="form-control">@ViewBag.CurrentUser.Login</text>
    <label class="form-control">Name</label>
    <text class="form-control">@Model.Name</text>
    <label class="form-control">Genre</label>
    <text class="form-control">@Model.Genre</text>
    <text>@Model.Content</text>
    <input type="submit" name="back" value="Back" />
</form>

<form action="/comment/addcomment" method="get">
    <input type="hidden" value="@Model.Id" name="WorkId" />
    <label class="form-control">Your mark</label>
    <input class="form-control" type="number" name="Mark"/>
    <label class="form-control">Your comment</label>
    <textarea class="form-control" name="Content"></textarea>
    <input type="submit" class="btn-default" value="Comment" />
</form>