@model WritingPlatform.Models.Compositions.CompositionWithCommentsModel

    <form action="/user/mycompositions">
        <input type="hidden" name="id" value="@Model.UserId" />
        <lable>Name</lable>
        <text class="form-control">@Model.Name</text>
        <lable>Genre</lable>
        <text class="form-control">@Model.Genre</text>
        <label class="form-control">Rating</label>
        <text class="form-control">@ViewBag.Rating</text>
        <lable>Publication</lable>
        <text class="form-control">@Model.PublicationTime</text>
        <lable>Content</lable>
        <text class="form-control">@Model.Content</text>
        <text>Comments</text>
        @foreach (var comment in ViewBag.Comments)
        {
            <div>
                <text class="form-control">@comment.Content</text>
            </div>
        }
        <input type="submit" value="Back" />
    </form>